
{%if not prediction%}
<form action=".">
    <label>Pclass</label>
    <input type="text" name="Pclass">
    <label>Sex</label>
    <input type="text" name="Sex">
    <label>Age</label>
    <input type="text" name="Age">
    <label>SibSp</label>
    <input type="text" name="SibSp">
    <label>Parch</label>
    <input type="text" name="Parch">
    <label>Fare</label>
    <input type="text" name="Fare">
    <label>Embarked</label>
    <input type="text" name="Embarked">
    <label>Title</label>
    <input type="text" name="Title">
    <input type="submit" value="submit">
</form>
{%else%}
<h2>Result</h2>
{{prediction}}
{%endif%}
